body {
    background-image:url(C:\02-github\90sWeb\images\rcsf.jpg);
   /* background-color: rgb(205, 205, 205);*/  
}

h1 {
    text-align: center;
    background-color: rgb(189, 246, 246);
  }

  h2 {
    
    text-decoration:wavy;
    background-color: rgb(216, 244, 244);
    color: blue;
  }
  h6 {
    text-align: center;
  }
  #a {
    text-align-last: center;
    height: 1;}

    p{ 

        font-size: 1.1em;
        text-align-last: center;
    }
  
  #b {
    text-align-last: auto;
    font-family: "Garamond", serif;
  }

table#table1 {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
  }
